footer {
  background-color: #fff;
  box-shadow: 0 0.06rem 0.06rem rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 1rem sans-serif;
  padding: 3.4375rem 3.125rem;
  color: #292c2f;
  margin-top: 0.625rem;
}

.footer-navigation h3 {
  font: normal 2.25rem Cookie, cursive;
  margin: 0 0 1.25rem;
  color: #292c2f;
}

.footer-navigation h3 a {
  text-decoration: none;
  color: #292c2f;
}

.footer-navigation h3 span {
  color: #0aab71;
}

.footer-navigation p.links a {
  color: #292c2f;
  text-decoration: none;
}

.footer-navigation p.company-name {
  color: #8f9296;
  font-size: 0.875rem;
  font-weight: normal;
  margin-top: 1.25rem;
}

@media (max-width:767px) {
  .footer-contacts {
    margin: 1.875rem 0;
  }
}

.footer-contacts p {
  display: inline-block;
  color: #292c2f;
  vertical-align: middle;
}

.footer-contacts p a {
  color: #5383d3;
  text-decoration: none;
}

.fa.footer-contacts-icon {
  background-color: #33383b;
  color: #ffffff;
  font-size: 1.125rem;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.375rem;
  margin: 0.625rem 0.9375rem 0.625rem 0;
}

span.new-line-span {
  display: block;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 2;
}

.footer-about h4 {
  display: block;
  color: #292c2f;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.footer-about p {
  line-height: 1.25rem;
  color: #92999f;
  font-size: 0.8125rem;
  font-weight: normal;
  margin: 0;
}

div.social-links {
  margin-top: 1.25rem;
  color: #292c2f;
}

.social-links a {
  display: inline-block;
  width: 2.1875rem;
  height: 2.1875rem;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 0.125rem;
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
  line-height: 2.1875rem;
  margin-right: 0.3125rem;
  margin-bottom: 0.3125rem;
}

