div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url("../../images/gallery/IMG_1.JPG");

}

div.jumbotron.hero-photography {
  background-image: url("../../images/gallery/IMG_3.JPG");
}

div.jumbotron.hero-technology {
  background-image: url("../../images/gallery/IMG_18.JPG");
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 0.1875rem 0.1875rem rgba(0,0,0,0.4);
  color: #0aab71;
}

p.hero-subtitle {
  max-width: 37.5rem;
  margin: 1.5625rem auto;
  padding: 0.625rem 0.9375rem;
  color: #000000;
}

.plat {
  border-radius: 0;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0aab71;
  border-color: #0aab71;
}

.btn.btn-primary {
  background-color: #0aab71;!important;
  border-color: #0aab71!important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

span {
  font-style: inherit;
  font-weight: inherit;
}