.navigation-clean {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  top: 0;
  /*margin-left: 15% !important;*/
  /*margin-right: 15% !important;*/
  /*width: 70%;*/
  background-color: #0aab71;
  font-size: 1rem;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: white;
}

.navigation-clean .navbar-brand:hover {
  color: white;
  background-color: #0aab71;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean .navbar-toggler {
  color: #888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
  background-color: #0aab71;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-right: 1.125rem;
  padding-left: 1.125rem;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background-color: #0aab71;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -0.3125rem;
  box-shadow: none;
  border-radius: 0.125rem;
  background-color: #0aab71;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: white;
  background-color: #0aab71;
}

.navigation-clean .dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: #0aab71;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.logoWrapper {
  background-image: url(../../images/logo.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 5rem;
  position: relative;
}