html {
    font-size: 100%;
	min-height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
    font-size: 0.75rem;
}

.content {
	flex: 1 1 auto;
	overflow-y: scroll;
}

.sticky-footer, .sticky-header {
	flex: 0 0 auto;
}