<div class="logoWrapper container-fluid"></div>
<header class="flex-column sticky-header header" data-spy="affix">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container">
            <a class="navbar-brand" href="../index/index.html">बुद्ध ज्योती लघु बित्त </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="../index/index.html" >Home</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"
                           >About Us</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="../about/introduction.html" >Introduction</a>
                            <a class="dropdown-item" role="presentation" href="../about/mission-vision.html" >Mission & Vision</a>
                            <a class="dropdown-item" role="presentation" href="../about/team-info.html" >Our Team</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Services</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="../services/loans.html" >Loans</a>
                            <a class="dropdown-item" role="presentation" href="../services/savings.html" >Savings</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="../../templates/gallery/gallery.html" >Gallery</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#" >Notices</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="../contactUs/contactUs.html" >Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>