<footer class="sticky-footer">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#">Buddha Jyoti <span>Laghubitta </span></a></h3>
            <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">About Us</a><strong> · </strong><a
                    href="#">Services</a><strong> · </strong><a href="#">Gallery</a><strong> · </strong><a href="#">Notices</a><strong>
                · </strong><a href="#">Contact</a></p>
            <p class="company-name">Buddha Jyoti Laghubitta © 2019</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div>
                <span class="fa fa-map-marker footer-contacts-icon"></span>
                <p><span class="new-line-span">21 Parsa</span>Lumbini, Nepal</p>
            </div>
            <div>
                <i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +7 777 123456</p>
            </div>
            <div>
                <i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank">support@bank.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h2 style="color: #048f83;">Connect with us</h2>
            <div class="social-links social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>