<footer class="sticky-footer" style="background-color: #b1b1b1">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#">बुद्ध ज्योती <span> लघु बित्त  </span></a></h3>
            <p class="links">
                <a href="../index/index.html">Home</a>
                <strong> · </strong>
                <a href="../about/introduction.html">Introduction</a>
                <strong> · </strong>
                <a href="../about/mission-vision.html" >Mission & Vision</a>
                <strong> · </strong>
                <a href="../about/team-info.html" >Our Team</a>
                <strong> · </strong>
                <a href="../services/loans.html" >Loans</a>
                <strong> · </strong>
                <a href="../services/savings.html" >Savings</a>
                <strong> · </strong>
                <a href="../../templates/gallery/gallery.html" >Gallery</a>
                <strong> · </strong>
                <a href="../contactUs/contactUs.html" >Contact</a>
            <p class="company-name">Buddha Jyoti Laghubitta © 2019</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div>
                <span class="fa fa-map-marker footer-contacts-icon"></span>
                <p><span class="new-line-span">Lumbini Sanskritik Nagarpalika-9</span>Parsa Chowk, Rupandehi</p>
            </div>
            <div>
                <i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> 071-404073</p>
            </div>
            <div>
                <i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank">buddhajyotimf@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h2 style="color: #048f83;">Connect with us</h2>
            <div class="social-links social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>